<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="HRMConnection"
			 connectionString="Data Source=DESKTOP-VCP25O7\HOANGTHANHHONG44;Initial Catalog=HRM_System;Integrated Security=False;User Id=sa;Password=123456;MultipleActiveResultSets=True;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>